@using Hamburgerci.EntityLayer
@model Burger
@{
    ViewData["Title"] = "AddBurger";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<h1>AddBurger</h1>

<form method="post">
    <div class="form-group">
        @Html.Label(" Name")
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Price")
        <input type="text" asp-for="Price" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Description")
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Image")
        <input type="text" asp-for="Image" class="form-control" />
    </div>
    <br />
    <button class="btn btn-outline-primary">Add a Burger</button>
</form>
