

<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="/Admin/Profile/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Profile</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Menu/AddMenu/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment"></i>
            <div data-i18n="Analytics">Add Menu</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Category/AddCategory/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-face"></i>
            <div data-i18n="Analytics">Add Category</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Burger/AddBurger/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-plane-alt"></i>
            <div data-i18n="Analytics">Add Burger</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Fry/AddFry/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-plane-alt"></i>
            <div data-i18n="Analytics">Add Fry</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Beverage/AddBeverage/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-plane-alt"></i>
            <div data-i18n="Analytics">Add Beverage</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Sauce/AddSauce/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-plane-alt"></i>
            <div data-i18n="Analytics">Add Sauce</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Product/AddProduct/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-plane-alt"></i>
            <div data-i18n="Analytics">Add Product - Not working</div>
        </a>
    </li>


    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-exit"></i>
            <div data-i18n="Analytics">Role Settings - Not working</div>
        </a>
    </li>

   
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-exit"></i>
            <div data-i18n="Analytics">Log Out - Not working</div>
        </a>
    </li>

</ul>